FIREBASE_PROJECT_ID=tbms-project
FIREBASE_API_KEY=AIzaSyDLtqTRaW-Y8qHAeiUuIRUGmhtKVwGahIM
FIREBASE_AUTH_DOMAIN=tbms-project.firebaseapp.com
FIREBASE_STORAGE_BUCKET=tbms-project.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1098533347273
FIREBASE_APP_ID=1:1098533347273:web:27d87484bab74db93c5218
COMPANY_NAME="Prime Cut"
DEFAULT_CURRENCY=KES
TAX_RATE=16
ENABLE_OFFLINE_MODE=true
